// 
// Test Client
// Common.xcconfig
// 
// Created by Eric Czarny on Monday, February 23, 2009.
// Copyright (c) 2010 Divisible by Zero.
// 

ARCHS = $(ARCHS_STANDARD_32_BIT)
SDKROOT = macosx10.6

PREBINDING = NO

GCC_C_LANGUAGE_STANDARD = c99

GCC_WARN_ABOUT_MISSING_NEWLINE = YES
GCC_WARN_ALLOW_INCOMPLETE_PROTOCOL = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VARIABLE = YES
